from typing import Optional
import snakemake.common.tests
from snakemake_interface_executor_plugins.settings import ExecutorSettingsBase


class TestWorkflowsBase(snakemake.common.tests.TestWorkflowsBase):
    __test__ = True

    def get_executor(self) -> str:
        return "{{plugin_name}}"

    def get_executor_settings(self) -> Optional[ExecutorSettingsBase]:
        # instantiate ExecutorSettings of this plugin as appropriate
        ...

    def get_default_storage_provider(self) -> Optional[str]:
        # Return name of default storage provider if required for testing,
        # otherwise None.
        ...

    def get_default_storage_prefix(self) -> Optional[str]:
        # Return default storage prefix if required for testing,
        # otherwise None.
        ...
